.AccountContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  animation: appearing 1s ease;
}
@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 970px) {
  .AccountContainer {
    flex-direction: column;
  }
}
.LoginSide {
  width: 100%;
  background-image: url("../images/beanieBoy.jpg");
  background-size: cover;
  background-position: center;
}
.Gradient {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.RegisterSide {
  width: 100%;
}
.FormContainer {
  padding-top: 170px;
  position: relative;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 970px) {
  .FormContainer {
    padding-top: 20px;
  }
}
.Form {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 2rem;
  animation: formAppearing 1s ease;
}
@keyframes formAppearing {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}
.Form div {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  color: rgba(0, 0, 0, 0);
  margin-bottom: 2rem;
}
@media screen and (max-width: 970px) {
  .Form div {
    font-size: 40px;
  }
}
.LoginTitle {
  -webkit-text-stroke: 1px #fff;
}
.RegisterTitle {
  -webkit-text-stroke: 1px red;
}
.Form input {
  padding: 15px 5px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0);
  margin: 5px 0;
}
.Form button {
  cursor: pointer;
  margin: 1rem 0;
  height: 70px;
  border: none;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  transition: all 0.4s ease;
}
.Form button:hover {
  background-color: red;
  color: #fff;
}
.LogForm input {
  border: 1px solid #fff;
  color: #fff;
}
.LogForm button {
  background-color: #fff;
  color: red;
}
.RegForm input {
  border: 1px solid rgb(150, 150, 150);
  color: #000;
}
.RegForm button {
  background-color: #eee;
  color: rgb(150, 150, 150);
}
