.MainContainer {
  padding: 180px 20px 140px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.SubContainer {
  max-width: 950px;
  margin: 0 auto 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.LeftContainer {
  width: 100%;
}
.LeftContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 900;
  -webkit-text-stroke: 1.3px red;
}
.RightContainer {
  width: 100%;
  font-size: 15px;
  letter-spacing: 1.3px;
  line-height: 2rem;
}
