.Background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
  animation: backIn 0.4s ease;
}
.BackClose {
  display: none;
}
@keyframes backIn {
  from {
    display: none;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.CartContainer {
  position: fixed;
  width: 520px;
  height: 100vh;
  right: 0;
  z-index: 1100;
  background-color: #fff;
  transition: all 0.4s ease;
}
.CartClose {
  transform: translateX(100%);
}
.CartOpan {
  transform: translateX(0);
}
.CartHeader {
  height: 130px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  width: calc(100% - 40px);
  margin: auto auto 20px;
}
.CartHeader div:nth-child(1) {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px red;
}
.CloseContainer {
  display: flex;
  align-items: center;
}
.Close {
  cursor: pointer;
  right: 2rem;
  width: 2rem;
  height: 2rem;
}
.Close div {
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #000;
}
.Close div:nth-child(1) {
  transform: rotate(45deg);
}
.Close div:nth-child(2) {
  transform: rotate(-45deg);
}
.CartItemsContainer {
  padding: 0 50px;
  height: calc(100vh - 320px);
  overflow-y: scroll;
}
.CartFooter {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 17px;
}
.Continue {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Continue button {
  cursor: pointer;
  width: calc(100% - 60px);
  height: 70px;
  border: 1px solid red;
  background-color: #fff;
  color: red;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
  transition: all 0.4s ease;
}
.Continue button:hover {
  color: #fff;
  background-color: red;
}
