.CategoryList {
  display: flex;
  overflow-y: auto;
}
.CategoryContainer {
  padding: 20px;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
}
.CategoryContainer div:nth-child(2) {
  padding-top: 15px;
}
.CategoryPhotoContainer {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
