.Item {
  padding-bottom: 0;
  border: none;
  min-width: 250px;
  width: calc(25% - 50px);
  margin: 0 25px 40px;
  max-height: 100vh;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .Item {
    min-width: auto;
    width: auto;
    margin: 0 5px 20px;
  }
}
.PictureContainer {
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  bottom: 0;
  top: auto;
  background: #f2f1ec;
}
.AddToCartButton {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #fff;
  border: 1px solid red;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 900;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  opacity: 0;
}
.AddToCartButton:hover {
  background-color: red;
  color: #fff;
}
.PictureContainer:hover .AddToCartButton {
  opacity: 1;
}
.PictureContainer:hover .Main {
  opacity: 0;
}
.PictureContainer:hover .Hover {
  opacity: 1;
}
.Main {
  transition: all 0.4s ease;
  position: absolute;
}
.Hover {
  transition: all 0.4s ease;
  opacity: 0;
}
.ItemsContent {
  margin-top: 2rem;
  text-align: center;
}
.ItemsContent div:nth-child(1) {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
.ItemsContent div:nth-child(2) {
  font-size: 12px;
  font-weight: 100;
}
