.ProductsContainer {
  padding-top: 120px;
}
.ProductsContainer nav {
  transform: translate(49px, 156px) rotate(90deg);
  width: 400px;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;

  text-transform: uppercase;
  font-size: 13px;
  z-index: 900;
}
.ProductsContainer nav div {
  cursor: pointer;
  margin: 1rem;
  transform: rotate(180deg);
}
.ProductsContent {
  padding: 0 2rem;
}
.Title {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.3px red;
  text-align: center;
  margin-bottom: 55px;
}
.ItemsContainer {
  display: flex;
  flex-wrap: wrap;
  -ms-flex-pack: start;
  justify-content: center;
}
